body{
    background-color: #282c34;
    
}

.contatos{
    max-height: 90vh;
    overflow-x: scroll;
    max-width: 30vh;
    background-color: rgb(161, 152, 152);
}

.userLogin{
    max-width: 35vh;
    margin-left: 40.2vh;
    

}
.user-name{
    font-size: 12px;
}

.contatos-box{
    width: 30vh;
    font-size: 16px;
}

#mensagens{

    background-color: blanchedalmond;
}

